<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Change-Password</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="text-white">Change-Password</a></li>
    </ol>
</div>
<!-- Single Page Header End -->

<section id="password" class="password"
    style="background-image: url(../../../assets/images/login1.png); background-size:cover; background-repeat:no-repeat;">
    <div class="container py-5" data-aso="fade-up">
        <div class="row p-5 rounded"
            style="backdrop-filter:blur(10px); height:500px; background:rgba(16, 16, 16, 0.53) ">
            <div class="row g-4">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <form [formGroup]="changeForm" (submit)="changesubmit()">
                        <div class="col-lg-12  form-group">
                            <input type="password" class="w-100 form-control border-0  py-3 mb-4"
                                placeholder="Current Password" formControlName="current">
                        </div>
                        <div class="col-lg-12  form-group">
                            <input type="password" class="w-100 form-control border-0  py-3 mb-4"
                                placeholder="New Password" formControlName="newpassword">
                        </div>
                        <div class="col-lg-12  form-group">
                            <input type="password" class="w-100 form-control border-0  py-3 mb-4"
                                placeholder="Comfirm Password" formControlName="comfirm">
                        </div>
                        <button class="w-100  btn form-control border-secondary py-3 bg-white text-primary" type="submit" [disabled]="changeForm.invalid">Change Password</button>
                    </form>

                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>