<!-- Testimonials -->

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Testimonial</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Testimonial</li>
    </ol>
</div>
<!-- Single Page Header End -->


<section id="testimonials">

    <div class="testimonials-heading">
        <span>Comments</span>
        <h1>Clients Says</h1>
    </div>

    <div class="testimonials-box-container">

       
        <div class="testimonials-box">

            <div class="box-top">

                <div class="profile">
                    <div class="profile-img">
                        <img src="../../../../assets/images/1.jpg" alt="">
                    </div>
                    <div class="name-user">
                        <strong>Touseeq Ijaz</strong>
                        <span>@ouseeq Ijaz</span>
                    </div>
                </div>

                <div class="review">
                    <ngb-rating [max]="5" [readonly]="true"></ngb-rating>
                </div>
            </div>

            <div class="client-comment">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum libero quos quod illum iure similique sed, inventore explicabo enim, tempora vero beatae? Dicta harum officia laborum ut praesentium itaque accusamus!</p>
            </div>
        </div>
    </div>

</section>